# Some data checks and analysis
First import and install necessary modules

In [2]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType, StringType, TimestampType
import boto3
import pandas as pd
import gc
!pip install s3fs

Requirement already satisfied: s3fs in /opt/conda/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: botocore>=1.12.91 in /opt/conda/lib/python3.6/site-packages (from s3fs) (1.14.9)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.6/site-packages (from s3fs) (0.6.2)
Requirement already satisfied: boto3>=1.9.91 in /opt/conda/lib/python3.6/site-packages (from s3fs) (1.11.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (2.6.1)
Requirement already satisfied: urllib3<1.26,>=1.20 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (1.22)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (0.9.3)
Requirement already satisfied: docutils<0.16,>=0.10 in /opt/conda/lib/python3.6/site-packages (from botocore>=1.12.91->s3fs) (0.14)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /opt/conda/lib/python3.6/site-packages (from boto3>=1.9.91->s3fs) (0.3.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.11.0)

In [3]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

Create Spark session and increase broadcast timeout. The last step depends on the size of the cluster / machine, which is used.

In [4]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [5]:
spark = create_spark_session()
spark.conf.set("spark.sql.broadcastTimeout",  900)

## Analyse artist table
Let's have a look at the first rows and count the records. Apparently there are 967 records on artists availabke.

In [6]:
artistdf = spark.read.parquet("s3a://christophndde4/artist_table/")

In [7]:
gc.collect()

201

In [10]:
artistdf.limit(2).show()

+------------------+------------+-----------------+--------+---------+
|         artist_id|        name|         location|latitude|longitude|
+------------------+------------+-----------------+--------+---------+
|ARXKXQ31187FB510DF|October Tide|Stockholm, Sweden|59.33217| 18.06243|
|ARXM0CX1187B98FD56|Marc Anthony|     New York, NY|40.71455|-74.00712|
+------------------+------------+-----------------+--------+---------+

In [11]:
artistdf.count()

967

## Analyse user table

In [12]:
userdf = spark.read.parquet("s3a://christophndde4/user_table/")

In [13]:
userdf.limit(5).show()

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     88|  Mohammad|Rodriguez|     M| paid|
|     88|  Mohammad|Rodriguez|     M| free|
|     29|Jacqueline|    Lynch|     F| paid|
|     29|Jacqueline|    Lynch|     F| free|
|     36|   Matthew|    Jones|     M| paid|
+-------+----------+---------+------+-----+

In [ ]:
userdf.count()
##check after all ran through